# Leave VITE_DEMO_MODE=true while building the frontend but change to false for deployment to test out proper Cognito authentication.
VITE_DEMO_MODE=true

# Set these after your AWS resources are deployed.
VITE_API_BASE_URL=https://your-api-id.execute-api.your-region.amazonaws.com/prod
VITE_COGNITO_DOMAIN=https://your-domain.auth.your-region.amazoncognito.com
VITE_COGNITO_CLIENT_ID=your-public-cognito-client-id
VITE_COGNITO_REDIRECT_URI=http://localhost:5173/
VITE_COGNITO_LOGOUT_URI=http://localhost:5173/
